{% render 'partials/head.liquid', title: 'Homepage' %}

<main>
  {% if path contains 'snappmap' %}
    {% render 'partials/top-navigation.liquid', title: snappmap[0].name, groups: groups, path: path %}
  {% elsif path contains 'user' %}
    {% render 'partials/top-navigation.liquid', title: snapps[0].author.name, groups: groups, path: path %}
  {% else %}
    {% render 'partials/top-navigation.liquid', title: snapps[0].location, groups: groups, path: path %}
  {% endif %}

  {% assign snappmapId = snappmap[0].uuid %}

  {% for snappmap in snappmap %}
    {% for group in snappmap.groups %}
      {% for user in group.snappthis_group_uuid.users %}
        {% if user.snappthis_user_uuid == userId %}
          {% if path contains 'snappmaps' %}
            <h1>
              <span>
                <svg width="40" height="36" viewBox="0 0 40 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M36.455 17.2464C36.455 20.4113 33.8721 22.9873 30.6992 22.9873C27.5268 22.9873 24.9531 20.4113 24.9531 17.2464C24.9531 14.0682 27.5268 11.4922 30.6992 11.4922C33.8653 11.4922 36.455 14.0728 36.455 17.2464ZM13.3312 0C8.64634 0 4.82779 3.81168 4.82779 8.50052C4.82779 13.1888 8.64233 17.0073 13.3312 17.0073C18.0217 17.0073 21.8368 13.1888 21.8368 8.50052C21.8397 3.81168 18.0212 0 13.3312 0ZM39.8847 34.6843C39.8847 29.4545 35.7557 25.2099 30.6906 25.2099C29.7871 25.2099 28.9243 25.3878 28.1032 25.6394C29.185 27.8083 29.8472 30.227 29.8472 32.8287V36H39.8853V34.6843H39.8847ZM0 36H26.6601V32.9848C26.6601 25.4221 20.6761 19.2694 13.3312 19.2694C5.97427 19.2694 0.00057181 25.4227 0.00057181 32.9848V36H0Z" fill="#90A1AA"/>
                </svg>
              </span>
              {{ groups[0].name | truncate: 14 }}
            </h1>

            <form
              action="/snappmaps/{{ snappmapId }}"
              method="POST"
              enctype="multipart/form-data"
              class="picture"
            >
              <label for="file">
                <svg
                  width="200"
                  height="200"
                  viewBox="0 0 200 200"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  class="picture-icon"
                >
                  <circle cx="100" cy="100" r="100" fill="#00E53D"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M99.7856 93.1627C94.2754 93.1627 89.7922 97.6459 89.7922 103.156C89.7922 108.666 94.2754 113.149 99.7856 113.149C105.296 113.149 109.779 108.666 109.779 103.156C109.779 97.6459 105.296 93.1627 99.7856 93.1627V93.1627ZM116.697 76.2509C116.697 70.7315 112.223 66.2576 106.704 66.2576H92.8671C87.3477 66.2576 82.8737 70.7315 82.8737 76.2509H71.343C65.8236 76.2509 61.3496 80.7249 61.3496 86.2443V120.068C61.3496 125.587 65.8236 130.061 71.343 130.061H128.228C133.748 130.061 138.222 125.587 138.222 120.068V86.2443C138.222 80.7249 133.748 76.2509 128.228 76.2509H116.697ZM99.7856 120.837C90.0359 120.837 82.105 112.905 82.105 103.156C82.105 93.4072 90.0359 85.4755 99.7856 85.4755C109.535 85.4755 117.466 93.4072 117.466 103.156C117.466 112.905 109.535 120.837 99.7856 120.837V120.837Z" fill="white"/>
                </svg>

                <img
                  class="image-preview"
                  src="#"
                  alt="Preview"
                >
              </label>
              <input type="file" name="file" accept="image/*" capture="environment" id="file" required>
              <button type="submit" class="shown">Upload!</button>
            </form>
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  {% endfor %}

  {% comment %}
    <dialog id="succes-dialog" popover>
      <h2>Your snapp has been added successfully!</h2>
      <button popovertarget="succes-dialog" popovertargetaction="hide">OK</button>
    </dialog>
  {% endcomment %}

  <dialog
    id="succes-dialog"
    {% if path contains 'status=succes' %}
      open
    {% endif %}
  >
    <h2>Your snapp has been added successfully!</h2>
    <form method="dialog">
      <button>OK</button>
    </form>
  </dialog>

  <dialog
    id="failure-dialog"
    {% if path contains 'status=upload_failed' %}
      open
    {% endif %}
  >
    <h2>Something went wrong, please try again.</h2>
    <form method="dialog">
      <button>OK</button>
    </form>
  </dialog>

  {% comment %}
    <div popover id="error-message" class="error-message">
      <h2>Something went wrong, please try again.</h2>
      <button popovertarget="error-message">Try again</button>
    </div>
  {% endcomment %}

  <div class="loading" id="loading">
    <p>loading...</p>
  </div>

  <ul class="grid-view" id="grid">
    {% for snappmap in snappmap %}
      {% assign sorted_snapps = snappmap.snaps | sort: 'date_created' | reverse %}
      {% for snapp in sorted_snapps %}
        {% if snapp.picture.id != null and snapp.picture.filesize != null %}
          <li class="snapp-image">
            <a href="/snapps/snappmap/{{ snapp.uuid }}">
              <img
                src="https://fdnd-agency.directus.app/assets/{{ snapp.picture.id }}?width=300&format=webp"
                alt="Image made in {{ snapp.location }}"
                loading="lazy"
                style="view-transition-name: image-{{ snapp.uuid }}"
              >
              <section>
                <article>
                  <h2>{{ snapp.author.name }}</h2>
                  <p>{{ snapp.location }}</p>
                </article>

                {% assign like_count = snapp.actions | where: 'action', 'like' | size %}
                {% assign tomato_count = snapp.actions | where: 'action', 'tomato' | size %}
                {% assign star_count = snapp.actions | where: 'action', 'star' | size %}

                <ul>
                  <li>
                    <svg width="27" height="25" viewBox="0 0 27 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M13.5 24.9167L11.61 23.0208C4.59 16.7917 0 12.5938 0 7.44792C0 3.25 3.24 0 7.425 0C9.72 0 12.015 1.08333 13.5 2.84375C14.985 1.08333 17.28 0 19.575 0C23.76 0 27 3.25 27 7.44792C27 12.5938 22.41 16.7917 15.39 23.0208L13.5 24.9167V24.9167Z" fill="#4E6977"/>
                    </svg>
                    {{ like_count }}
                  </li>
                  <li>
                    <svg width="27" height="29" viewBox="0 0 27 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M14.4783 4.02378C14.9341 3.67954 15.506 3.32986 16.191 3.06305C17.4624 2.56785 19.3995 2.71458 21.5326 4.05634C21.5326 4.05634 20.3144 5.52676 19.0412 6.13411C17.8367 6.70872 17.2265 6.76158 17.0208 6.7794L16.9895 6.78219C17.8493 7.3684 18.6179 8.34541 19.0084 9.9477C19.0084 9.9477 17.1479 10.1805 15.9861 9.74904C14.8244 9.31757 13.8823 8.72644 13.3515 7.3228C13.3491 7.33041 13.3456 7.34922 13.3404 7.37772L13.3403 7.37779C13.2868 7.66672 13.0489 8.9499 11.9543 9.64157C10.7517 10.4016 9.4239 10.84 8.10494 10.6381C8.017 10.6251 8.18635 8.02299 10.466 6.81802C10.3455 6.84733 9.3478 7.02409 7.95187 6.82779C6.55594 6.63148 5.33023 5.69771 4.50954 4.49274C4.44767 4.39829 7.36241 2.17397 10.5898 3.64925L10.5908 3.64976C10.6282 3.66804 11.6523 4.1697 12.4963 4.77515C12.5463 4.3289 12.6577 3.65553 12.9054 2.82639C13.3675 1.2801 14.1402 0.0141526 14.1402 0.0141526L16.22 0C16.22 0 15.4834 0.807018 14.9916 2.18094C14.8019 2.71071 14.6246 3.38957 14.4783 4.02378ZM19.773 7.51853C20.7914 9.42645 20.9734 11.1768 20.9734 11.1768C20.9734 11.1768 20.0476 11.6404 17.9372 11.5819C16.1841 11.5333 14.6906 11.1133 13.5755 10.2454C12.4699 11.5549 10.9138 12.2701 9.06403 12.2701C8.67421 12.2701 8.26484 12.2391 7.85254 12.1746C7.16505 12.0701 6.61988 11.5493 6.49711 10.8798C6.40624 10.375 6.52772 9.36378 7.01915 8.30209C6.0568 8.02039 5.35563 7.80219 4.40468 6.81444C1.88921 9.1687 0 11.478 0 15.1174C0 22.2753 6.04475 28.08 13.4997 28.08C20.9552 28.08 26.9986 22.2756 26.9986 15.1174C26.9986 11.0996 24.7704 8.48772 21.7827 6.10838C21.2535 6.63499 20.7914 6.98704 19.773 7.51853Z" fill="#4E6977"/>
                    </svg>
                    {{ tomato_count }}
                  </li>
                  <li>
                    <svg width="28" height="27" viewBox="0 0 28 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M14 21.1611L22.652 26.325L20.363 16.5861L28 10.0368L17.9326 9.18188L14 0L10.0674 9.18188L0 10.0368L7.637 16.5861L5.348 26.325L14 21.1611Z" fill="#4E6977"/>
                    </svg>
                    {{ star_count }}
                  </li>
                </ul>
              </section>
            </a>
          </li>
        {% endif %}
      {% endfor %}
    {% endfor %}

    {% assign sorted_snapps2 = snapps | sort: 'date_created' | reverse %}
    {% for snapp in sorted_snapps2 %}
      {% if snapp.picture.id != null %}
        <li class="snapp-image">
          <a href="/snapps/location/{{ snapp.uuid }}">
            <img
              src="https://fdnd-agency.directus.app/assets/{{ snapp.picture.id }}?width=300&format=webp"
              alt="Image made in {{ snapp.location }}"
              loading="lazy"
              id="{{ snapp.uuid }}"
            >
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>

  {% render 'partials/bottom-navigation.liquid', currentPage: 'snappmaps' %}
</main>
